.posts__area {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.posts__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 100%;
  width: 500px;
}

.post__list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 23px 27px 18px -15px rgba(34, 80, 78, 0.28);
  padding: 5px;
  word-wrap: break-word;
}

.post__list-item h3 {
  max-width: 90%;
  width: 450px;
}

.icon__btn {
  position: absolute;
  top: 0px;
  right: 0px;
}
