.inputs__area {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 100%;
  width: 500px;
}

.error {
  border: 1px solid red;
}

.snack__bars div {
  left: 10px;
}

.limit__out {
  height: 26px;
  padding: 5px;
  color: #d32f2f;
}
